@import './base.css';

#app {
	margin: 0 auto;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

main, header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
}

header > h1 {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

input {
	border: none;
	padding: .3rem .75rem;
	border-radius: 1vmax;
	outline: none;
	width: 100%;

}

header {
	line-height: 1.5;
}

.logo {
	display: block;
	margin: 0 auto 2rem;
}

@media (width > 1024px) {
	header {
		display: flex;
		place-items: center;
	}

	.logo {
		margin: 0 2rem 0 0;
	}

	header .wrapper {
		display: flex;
		place-items: flex-start;
		flex-wrap: wrap;
	}
}